<div data-algolia-index="[[ _index ]]" data-algolia-position="[[ _position ]]" data-algolia-queryid="[[ queryID ]]" data-algolia-objectid="[[ objectID ]]" class="aa-product">
  <a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink]]">
    <div class="aa-product-picture" style="background-image: url('[[# helpers.thumbImage ]][[/ helpers.thumbImage ]]')"></div>
    <div class="aa-product-text">
      <p class="aa-product-title algolia_paroduct_title">
        [[# helpers.fullHTMLTitle ]][[/ helpers.fullHTMLTitle ]]
      </p>
      <p class="aa-product-price">
        [[# helpers.autocompletePrice ]][[/ helpers.autocompletePrice ]]
      </p>
      <div class="yotpo bottomLine" data-yotpo-product-id="[[ id ]]">
        <div class="yotpo-display-wrapper" aria-hidden="true" style="visibility: hidden;">
          <div class="standalone-bottomline" data-source="offload">
              <div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
                <span class="yotpo-stars">
                  [[# helpers.fullStarReview ]][[/ helpers.fullStarReview ]]
                </span>
                <span class="text-m">[[# meta.yotpo ]]([[ meta.yotpo.reviews_count ]])[[/ meta.yotpo ]]</span>
                <div class="yotpo-clr"></div>
              </div>
              <div class="yotpo-clr"></div>
          </div>
          <div class="yotpo-clr"></div>
        </div>      
      </div>
    </div>
  </a>
</div>

