<div class="aa-collection">
  <a href="https://bestchoiceproducts.com/collections/[[ handle ]]">
    <div class="aa-text">
      <div class="autocomplete_collection_title aa-title">
        <div class="svg_id collection">[[& _highlightResult.title.value ]]</div>
      </div>
    </div>
  </a>
</div>