<div class="aa-columns-container [[# with.collections ]] aa-with-collections [[/ with.collections ]] [[^ with.collections ]] aa-without-collections [[/ with.collections ]] [[# with.products ]] aa-with-products [[/ with.products ]] [[^ with.products ]] aa-without-products [[/ with.products ]]">
  <div class="width_autocomplete aa-right-column">
    <div class="aa-collections-header">
        RECOMMENDED PRODUCTS 
      </div>
    <div class="aa-dataset-products"></div>
  </div>

  <div class="width_autocomplete aa-left-column">
    <div class="aa-collections">
      <div class="aa-collections-header">
        CATEGORIES 
      </div>
      <div class="aa-dataset-collections"></div>
    </div>

    <div class="aa-collection">
      <div class="aa-collections-header popular_search">
        POPULAR SEARCHES 
      </div>
      <div class="aa-dataset-products_query_suggestions"></div>
    </div>
  </div>
</div>