<div class="aa-collection">
	<div class="aa-text">
		<div class="autocomplete_collection_title aa-title">
			<a href="https://bestchoiceproducts.com/search?q=[[ query ]]"><div class="svg_id">[[& _highlightResult.query.value ]]</div></a>
		</div>
	</div>
</div>