  <div class="size-chart-container container js-size-chart-container">
    <button type="button" class="btn--plain icon feather-icon size-chart-close js-size-chart-close">{% include 'feather-x' %}</button>
    <div class="size-chart-content large-section">
      <h2 class="reading-width large-row">{{ pages[section.settings.size_chart_page_id].title }}</h2>
      <div class="reading-width rte">{{ pages[section.settings.size_chart_page_id].content }}</div>
    </div>
  </div>
