<ul class="social-links">
    <li><a title="Twitter" class="social-link twitter feather-icon" target="_blank" href="https://twitter.com/bcproducts">
      <img class="icon icon-twitter lazyload" data-src="https://cdn.shopify.com/s/files/1/0636/7991/files/Twitter_icon.svg?12190989119240152239">
</a></li>
 
 
    <li><a title="Facebook" class="social-link facebook" target="_blank" href="https://www.facebook.com/bcproducts">
    <img class="icon icon-facebook lazyload" data-src="https://cdn.shopify.com/s/files/1/0636/7991/files/Facebook_icon.svg?8904292673707773759">
      </a></li>
  
  
    <li><a title="Youtube" class="social-link youtube" target="_blank" href="https://www.youtube.com/bestchoiceproducts"><img class="icon icon-youtube lazyload" data-src="https://cdn.shopify.com/s/files/1/0636/7991/files/Youtube_icon.svg?8904292673707773759">
</a></li>
 
  {% if settings.social_vimeo_url != blank %}
    <li><a title="Vimeo" class="social-link vimeo" target="_blank" href="{{ settings.social_vimeo_url }}">{% include 'icon-vimeo' %}</a></li>
  {% endif %}
 
    <li><a title="Instagram" class="social-link instagram" target="_blank" href="https://www.instagram.com/bcproducts">                   <img class="icon icon-instagram lazyload" data-src="https://cdn.shopify.com/s/files/1/0636/7991/files/Instagram_icon.svg?8904292673707773759">
</a></li>
  
    <li><a title="Pinterest" class="social-link pinterest" target="_blank" href="https://www.pinterest.com/bcproducts/?eq=best%20choice%20products&etslf=6663">              <img class="icon icon-pinterest lazyload" data-src="https://cdn.shopify.com/s/files/1/0636/7991/files/Pinterest_Icon.svg?13945430408860085655">
</a></li>
  

  {% if settings.social_custom_url != blank %}
    {% capture custom_icon_size %}{% if settings.soc_icons_double %}x46{% else %}x30{% endif %}{% endcapture %}
    <li class="social-custom">
      <a title="{{ settings.social_custom_icon.alt }}" class="social-custom__main" target="_blank" href="{{ settings.social_custom_url }}">
        {{ settings.social_custom_icon | img_url: custom_icon_size | img_tag: settings.social_custom_icon.alt }}
      </a>
    </li>
  {% endif %}
</ul>
