<style>
  .swell-tiers-section .yotpo-vip-tiers-widget .VueCarousel-dot-container {
  	display: inline-block !important;
  }
</style>
<div class="swell-tiers-section">
  <div class="swell-section-heading">
    <h3 class="swell-heading">VIP Tiers: Level Up</h3>
    <p class="swell-detail"><span>Keep your tiers by staying active all year!</span> Reaching silver and gold tiers is a great accomplishment,<br class="swell-desktop"> staying there is even better!  Your status is renewed every 12 months. If you do not have the required points to remain in<br class="swell-desktop"> that tier, you are dropped to the tier below. This does not apply to the bronze tier. Points never expire!</p>
  </div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="7139"></div>
</div>
