<div class="swell-redeem-point-section">
  <div class="swell-section-heading">
    <h3 class="swell-heading">Using Your Points</h3>
    <p class="swell-detail"> Get up to <span>3% Back</span> in Redeemable Points for Every Dollar Spent!<br> Click <span>“Apply All”</span> at checkout to redeem. Your point amount will be applied as a discount.</p>
  </div>
  <div class="swell-redeem-point-section-holder">
    <div class="swell-redemption-holder">
      <div class="swell-loader-spinner redemption">
        <img src="{{ 'swell-loader.svg' | asset_url }}"/>
      </div>
      <ul class="swell-redemption-list">
        <li class="swell-redemption-list-items swell-coupon-points">
        </li>
        <li class="swell-redemption-list-items swell-coupon-cost">
        </li>
      </ul>
    </div>
  </div>
</div>
