<div class="swell-faqs-section">
  <div class="swell-section-heading">
    <h3 class="swell-heading swell-desktop">Frequently Asked Questions</h3>
    <h3 class="swell-heading swell-mobile">Frequently Asked</h3>
    <p class="swell-detail swell-desktop"> Make purchases and complete the actions below to earn and redeem points!</p>
    <p class="swell-detail swell-mobile">Term & Conditions</p>
  </div>
  <div class="swell-faq-outer-holder">
    <ul class="faq-holder">
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">How do I join?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">Joining our free rewards program is easy! If you haven’t already, just create an account with the store to get started. Once you’ve done that, you’ll have full access to all of the exciting ways we offer to earn points. Each time you come back just make sure that you’re logged in to track your progress, redeem points, and much more. 
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">How do I earn points?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">While logged in, just click on any of the action icons above to earn points. In most cases, we’ll credit your account immediately; however, please note that points in exchange for writing a product review make take up to 7 days to be rewarded.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">Can my rewards points expire?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">No way, points never expire!
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">How can I redeem my points?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">Points are redeemed directly at checkout! When you have enough points for a discount, just add a few items to your cart, click on the checkout button, and select a discount from the dropdown menu. You’ll have the option to apply your points to today’s purchase, or save them for next time.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">I can’t log in to my account, help!</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">Not a problem! Just click ‘Forgot password’ to reset your password. From there you’ll need to verify your email address and we’ll lead you through the process to get you back into your account. If you’re having further issues, just send us an email and we’ll be more than happy to help you out. 
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">Why didn’t I get credit for my referral?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">In order for us to track your referrals appropriately, make sure your friends are following your unique referral link. We will only be able to identify you as the referring customer if your friends click your referral link and make a purchase from the same device. Once we’ve identified that the order is associated with your link, we’ll then be able to distribute your rewards points.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">Why didn’t I get credit for liking or sharing on Facebook?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">In order to receive credit for liking or sharing on Facebook, you must click the appropriate icon while logged into your account on the BCP rewards page.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">Why didn’t I get credit for following on Instagram?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">In order to receive credit for following on Instagram, you must click the Instagram icon while logged into your account on the BCP rewards page. A pop up will appear; click the ‘follow us’ button.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">How do I get credit for my birthday?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">In order to receive credit for your birthday, just click the present icon while logged into your account on the BCP rewards page. You will then be prompted to enter your birthday month and date. Once entered, you’ll be in our system to receive points when your birthday arrives.<br> NOTE: To earn a reward for the current year, make sure to enter a date at least one month before your birthday.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">What happens if I return a product?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">When you return an item, the points you earned associated with that item will be immediately deducted. For example, if you make a purchase for $100 (good for 100 points), and then return $75 worth of merchandise, we would deduct 75 points from your account.
          </li>
        </ul>
      </li>
      <li>
        <ul class="accordian">
          <li class="question"><span class="para">Why didn’t I get credit for my purchases and/or other program actions I’ve completed?</span><span class="cross"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span></li>
          <li class="answer">Best Choice Products reserves the right to prohibit any Member from participating in any aspect of the Program if Best Choice Products deems or suspects that such Member has engaged in or has attempted to engage in any of the following: (a) acting in violation of BCP Rewards Program Terms and Conditions; or (b) damaging, tampering with or corrupting the operation of the Program or Site; or (c) acting with intent to annoy, harass or abuse any other person; or (d) any inappropriate, uncooperative, disruptive, fraudulent, potentially fraudulent, or unusual behavior or activity; or (e) activity deemed to be generally inconsistent with the intended operation of the Program.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
