<div class="swell-purchase-review">
  <div class="swell-purchase-review-heading-holder {% if customer %}logged-in{% endif %}">
    <h3 class="swell-heading">Earn up to $10 When You Leave a<br class="swell-mobile"> Review on a Purchase </h3>
    <div class="swell-purchase-review-detail-holder">
      <span class="swell-detail">IT’S AS EASY AS  1 - 2 - 3 !</span>
    </div>
  </div>
  <div class="swell-purchase-review-holder">
    <ul class="swell-purchase-review-list">
      <li class="swell-purchase-review-list-item">
        <div class="swell-purchase-review-list-holder">
          <div class="swell-purchase-review-icon">
            <img src="{{ 'swell-review.svg' | asset_url }}">
          </div>
          <h3 class="swell-purchase-review-title">1. WRITE A REVIEW</h3>
          <div class="swell-purchase-review-details">
            <span class="swell-purchase-review-points">Earn 150 Pts.</span>
            <span class="swell-purchase-review-dollar">$4.50</span>
          </div>
        </div>
      </li>
      <li class="swell-purchase-review-list-item">
        <div class="swell-purchase-review-list-holder">
          <div class="swell-purchase-review-icon">
            <img src="{{ 'swell-upload-photo.svg' | asset_url }}">
          </div>
          <h3 class="swell-purchase-review-title">2. UPLOAD A PHOTO</h3>
          <div class="swell-purchase-review-details">
            <span class="swell-purchase-review-points">Additional 100 Pts.</span>
            <span class="swell-purchase-review-dollar">$3.00
          </div>
        </div>
      </li>
      <li class="swell-purchase-review-list-item">
        <div class="swell-purchase-review-list-holder">
          <div class="swell-purchase-review-icon">
            <img src="{{ 'swell-social.svg' | asset_url }}">
          </div>
          <h3 class="swell-purchase-review-title">3. SHARE ON SOCIAL</h3>
          <div class="swell-purchase-review-details">
            <span class="swell-purchase-review-points">Additional 100 Pts.</span>
            <span class="swell-purchase-review-dollar">$3.00</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="swell-purchase-review-note">Note: Points to be used as rewards are only redeemable at checkout, <span>not a cash prize</span>. Reviews are limitless, which means you can repeat every time you make a purchase.</div>
  </div>
</div>
