<div class="container row">
  <div class="reading-width center large-row large-section">
    <h1 class="large-title row">{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext_html' | t }}</p>
  </div>
</div>
