<style>
  .li_bold:before {
    font-weight:bold;
  }
</style>

<div class="container row large-row-under">
  <div class="page-width">
    <div class="rte rte--expanded-images">
      {{ page.content }}
    </div>
  </div>
</div>
{% section 'cyber-christmas-slide' %}
{% section 'cyber-christmas-rich-one' %}
{% section 'cyber-first-rich-text' %}
{% section 'cyber-second-rich-text' %}
{% section 'cyber-add-image-section' %}
{% section 'cyber-chri-image-url' %}

<div class="container large-row-under">
  <div class="page-width">
    <div class="constrain">
     
      <h2 class="heading-font-every" style="text-align: center;margin-bottom: 3%;">Terms & Conditions</h2>
        <div class="rte rte--expanded-images" style="font-size:14px;">
          <ul><ul>
            <li>Contiguous US only</li>
            <li>Any photo submitted in review will subject to Best Choice Products’ Review terms &amp; conditions.</li>
            <li>To be eligible you must complete a review with a photo of your seasonal décor item on BestChoiceProducts.com. Between the dates of 12/4/19-12/12/19 11:59 PM PST. Review must include #BCPHolidays</li>
            <li>Product must be from one of the following categories: Christmas Trees, Christmas Decor, Christmas Tree Accessories, Gift Wrap & Trims</li>
            <li>Must be submitted with a valid email address</li>
            <li>No cash value </li>
           </ul></ul>
        </div>
    </div>
        
    </div></div>
 