
<style>
	.field-container {
		display: none;
		position: relative;
		margin: auto;
		width: 600px;
		height: 50px;
	}
	#assembly {
		width: 100%;
		height: 100%;
		padding: 10px 20px;
		background: #f3f3f3;
		border-radius: 5px;
		border: 1px solid #282828;
	}
	.skeleton-field-container {
		display: block;
		width: 600px;
		height: 50px;
		margin: 0 auto;
		background: #EEE;
		border-radius: 5px;
	}
	#data {
		border-collapse: collapse;
  width: 100%;
	}
	#data th{
		padding: 12px 0;
		color:#282828;
		background-color:#EEE;
		font-weight:600;
		font-size:21px;
		text-align:center;
	}
	#data td, #data th {
  border: 1px solid #ddd;
  padding: 8px;
}
#noMatch {
	display: none;
	text-align: center;
	font-size: 21px;
	margin : 3% 0;
}
.td_a {
	font-weight:600;
	text-decoration: underline;
}
</style>
<div class="page-width container">
	<div class="text-center">
		<div class="skeleton-field-container"></div>
    <div class="field-container"><input type="text" id="assembly" placeholder="Search.."></div>
		<div id="result">
			<table id="data">
				<tr><th>SKY</th><th>Title</th><th>URL</th></tr>
			</table>
			<div id="noMatch">No Result Found</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    var url = "https://cdn.shopify.com/s/files/1/0636/7991/files/ManualURL_JSON.json?v=1623718166";
    var jso = $.getJSON(url, function(){
        
    }).always(function(data){
			$(".skeleton-field-container").css({"display": "none"});
			$(".field-container").css({"display": "block"});
			const searchBar = document.getElementById("assembly");
			searchBar.addEventListener("keyup", e => {
				
				const checkid = document.getElementById("remove");
				if(checkid !== null){
					$("tr[id=remove]").remove();
				}
  			var searchString = e.target.value, arra = [];
				const gettable = document.getElementById("data");
				if(searchString.length > 3){
					for(let i = 0 ; i < data.length; i++){
						if(data[i].Title && (data[i].Title).length){
							if(((data[i].Title).toLowerCase()).indexOf(searchString.toLowerCase()) >= 0 || ((data[i].SKU).toLowerCase()).indexOf(searchString.toLowerCase()) >= 0 ){
								arra.push(data[i]);
							}
						}
					}
					if(arra.length > 0){
						var res =""; 
						for(let j=0 ; j< 20 ; j ++){
							if(arra[j] !== undefined){
								var detectUrls = /(([a-z]+:\/\/)?(([a-z0-9\-]+\.)+([a-z]{2}|aero|arpa|biz|com|coop|edu|gov|info|int|jobs|mil|museum|name|nato|net|org|pro|travel|local|internal))(:[0-9]{1,5})?(\/[a-z0-9_\-.~]+)*(\/([a-z0-9_\-.]*)(\?[a-z0-9+_\-.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\s+|$)/gi;
								var url = (arra[j].URL).match(detectUrls);
								console.log(url);
								if(url.length > 1){
									res += `
										<tr id="remove">
											<td>${arra[j].SKU}</td>
											<td>${arra[j].Title}</td>
											<td class="td_a"><a href="${url[1]}" target="_blank">CLICK</a></td>
										</tr>
									`
								}else {
									res += `
										<tr id="remove">
											<td>${arra[j].SKU}</td>
											<td>${arra[j].Title}</td>
											<td class="td_a"><a href="${url[0]}" target="_blank">CLICK</a></td>
										</tr>
									`
								}
							}
						}
					 $('#data').append(res);	
					}else {
						$("#noMatch").css("display", "block");
					}
				}
			});
    });
</script>