<div class="container row large-row-under">
  <div class="page-width">
    <h1 class="large-title row">{{ page.title }}</h1>

    <div class="rte rte--expanded-images">
      {{ page.content }}
    </div>
  </div>
</div>

<!-- SlideShow -->
{% section 'shipping-slideshow' %}
<!-- End Slideshow -->

<!-- Rich text first -->
{% section 'shipping_rich-text-first' %}
<!-- End rich text first -->

<!-- Rich text Second -->
{% section 'shipping-rich-text-second' %}
<!-- End rich text Second -->

<!-- Skinny Banner -->
{% section 'bf-text-banner-section' %}
<!-- End Skinny Banner -->

<!-- FAQ -->
{% section 'shipping-faq' %}
<!-- End FAQ -->